
/* html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



/*  --------------------------- new ---------------------------  */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100vh;
}
#map {
    flex: 4;
    position: relative; /* so floating elements can be positioned */
    /* width: 100%;
    height: 100vh; */
}
/* Sidebar */
.sidebar {
    width: 300px;
    padding: 15px;
    flex: 1; 
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto; /* scroll horizontally */
    /* white-space: nowrap; prevent wrapping */
}
.section {
    border-bottom: 1px solid #ddd;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color:rgb(74, 73, 73);
}

.section:hover {
    background: #eee;
}

.arrow {
    font-size: 1rem;
    transition: transform 0.2s ease;
}
.arrow.open {
    transform: rotate(90deg); /* right → down */
}
/* ///////////////////////////////////////////////////////////////////////////////  */
.content {
    display: none;
    padding: 0.5rem;
    text-align: left;
    color: #555;
  }

.content button {
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.content button:hover {
    background: #eee;
}

.content.show {
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

label {
    font-weight: bold;
    margin-top: 0.25rem;
}

input {
    padding: 0.4rem;
    border: 1px solid #a2a2a2;
    border-radius: 4px;
}

.btn {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

#submit:hover, #submit-fb:hover{
    color: #fff;
    cursor: pointer;
    background-color: darkgreen;
}
#report:hover, #report-fb:hover{
    /* flex: 1; */
    /* padding: 0.5rem; */
    /* border: none; */
    /* border-radius: 4px; */
    color: #fff;
    cursor: pointer;
    background-color: rgb(15, 18, 150);
}

/* button {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background: #1976d2;
    color: #fff;
    cursor: pointer;
} */

button:hover {
    background: #1565c0;
}


/* ////////////////////////////////////////////// */
.last-login-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-family: sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);  
    z-index: 1000; /* make sure it stays above the map */

}
/* ///////////////////////////////////////////////// */




/* #reportfeedbackVerticalContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
 */




/* ///////////////////////////////////////////////////// */

.sidebar label {
    font-size: 14px;
    display: block;
    /* margin-top: 10px; */
    color: #585555;
    font-weight: bold;
}
.sidebar input, .sidebar select, .sidebar button {
    width: 100%;
    padding: 6px;
    /* margin-top: 5px; */
    font-size: 14px;
    margin-bottom: 10px;
}

#filter-form{
    padding-right: 15px;
    margin-top: 30px;
}

#all-locations-btn{
    background-color: rgb(81, 69, 255);
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}

#active-locations-btn{
    background-color: rgb(77, 152, 2) ;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}
#all-routes-btn{
    background-color: rgb(23, 147, 89);
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}
#has-feedback-locations-btn{
    background-color: rgb(47, 16, 47);
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}

.btn{
    margin-top: 20px;
}
.logout{
    background-color: rgb(173, 9, 9);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}
.logout a {
    color: white;
    text-decoration: none;
}
/* Map */
/* #map {
    flex-grow: 1;
    height: 100%;
} */




